<div class="content-editor-toolbar">

    <div class="button_groups">
	  <span class="button_group">
	  	<button type="button" class="quote" title="Anführungszeichen" {{action 'insertQuote'}}>Shortcode</button>
	  	<button type="button" class="bold" title="Fett" {{action 'insertBold'}}>Shortcode</button>
	  	<button type="button" class="italic" title="Kursiv" {{action 'insertShortcode'}}>Shortcode</button>

	  	{{!-- Exkursion shortcodes --}}
	  	{{#if excursion}}
	  		<button type="button" class="code" title="Shortcode" {{action 'insertShortcode'}}>Shortcode</button>
		  	<button type="button" class="code" title="Shortcode" {{action 'insertShortcode'}}>Shortcode</button>
		  	<button type="button" class="code" title="Shortcode" {{action 'insertShortcode'}}>Shortcode</button>
	  	{{/if}}

	  	{{!-- Themen shortcodes --}}
	  	{{#if topic}}
	  		<button type="button" class="code" title="Shortcode" {{action 'insertShortcode'}}>Shortcode</button>
	  		<button type="button" class="code" title="Shortcode" {{action 'insertShortcode'}}>Shortcode</button>
	  	{{/if}}

	  	{{!-- Regionen shortcodes --}}
	  	{{#if region}}

	  	{{/if}}

	    <button type="button" class="undo" data-action="undo" data-key="z" title="Undo">Undo</button>
    	<button type="button" class="redo" data-action="redo" data-key="shift+z" title="Redo">Redo</button>
    	{{!-- Image assets menu --}}
    	{{#paper-menu as |menu|}}
			{{#menu.trigger}}
			  <button type="button" class="link" title="Anhang">Anhang</button>
			{{/menu.trigger}}

			{{#menu.content width=5 as |content|}}

				{{#paper-list}}
				  	{{#paper-item class="md-3-line"}}
				  	{{file-upload url=assetUrl}}
					{{/paper-item}}
					{{#each model.images as |image|}}
						{{#paper-item class="md-3-line"}}
						    <div class="md-list-item-text">
						      <img onclick={{action "openImage" image}} class="preview-img" src="{{image.src}}" alt="">
						    </div>
						{{paper-divider}}
						    <div class="md-list-item-text">
							    <p>{{image.filename}}</p>
							</div>
						{{paper-divider}}
							<div class="md-list-item-text">
								{{#paper-button raised=true mini=true onClick=(action "sendImageShortcode" image)}}
									{}
							  	{{/paper-button}}
							  	{{#paper-button warn=true raised=true mini=true onClick=(action "deleteImage" image)}}
									{{paper-icon "delete forever"}}
							  	{{/paper-button}}
							</div>
						{{/paper-item}}
					{{/each}}
				{{/paper-list}}
			{{/menu.content}}
		{{/paper-menu}}
	  </span>
	</div>
</div>
