<div class="content-editor-toolbar">
	{{!-- Shortcode menu --}}
    	{{#paper-menu as |menu|}}

				{{#menu.trigger}}
				  {{#paper-button raised=true primary=true}}Shortcode einfügen{{/paper-button}}
				{{/menu.trigger}}

				{{#menu.content width=5 as |content|}}
					<p class="centered">Verfügbare Shortcodes</p>
					{{#paper-list}}

							{{#paper-item as |controls|}}
				        <p>Anführungszeichen einsetzen</p>
				        {{#controls.button secondary=true onClick=(action "insertQuote")}}
				          {{paper-icon "format italic"}}
				        {{/controls.button}}
				      {{/paper-item}}

							{{paper-divider}}

							{{#paper-item as |controls|}}
				        <p>Fett einsetzen</p>
				        {{#controls.button secondary=true onClick=(action "insertQuote")}}
				          {{paper-icon "format bold"}}
				        {{/controls.button}}
				      {{/paper-item}}

							{{paper-divider}}


							{{#paper-item as |controls|}}
							  {{#controls.button secondary=true onClick=(action "insertQuote")}}
				          {{paper-icon "wrap text"}}
				        {{/controls.button}}
							  <p>Zeilenumbruch</p>
							{{/paper-item}}

							{{paper-divider}}

							{{!-- Exkursion shortcodes --}}
							{{#if excursion}}
								{{#paper-item as |controls|}}
								  {{#controls.button secondary=true onClick=(action "insertStationstitel")}}
					          {{paper-icon "title"}}
					        {{/controls.button}}
								  <p>Exkursion Stationstitel</p>
								{{/paper-item}}
							{{/if}}

							{{!-- Themen shortcodes --}}
							{{#if topic}}

							{{/if}}

							{{!-- Regionen shortcodes --}}
							{{#if region}}

							{{/if}}
					{{/paper-list}}
				{{/menu.content}}
			{{/paper-menu}}


  {{!-- Image assets menu --}}
    	{{#paper-menu as |menu|}}
			{{#menu.trigger}}
			  {{#paper-button raised=true primary=true}}Anhänge organisieren{{/paper-button}}
			{{/menu.trigger}}

			{{#menu.content width=5 as |content|}}
				<p class="centered">Neue Datei hinzufügen</p>
				{{#paper-list}}
				  {{#paper-item class="md-3-line"}}
				  	{{file-upload url=assetUrl updateAction="updateAction"}}
					{{/paper-item}}
					<br>

			  {{#paper-subheader}}Anhänge für {{model.id}}{{/paper-subheader}}
        {{#each model.images as |image|}}
          {{#paper-item class="md-2-line" onClick=null as |controls|}}
            <img onclick={{action "openImage" image}} class="preview-img" src="{{image.src}}" alt="">
            <div class="md-list-item-text asset-viewer-list-item">
              <h4>{{image.filename}}</h4>
              <p class="text-underline" onclick={{action "deleteImage" image}}>Abbildung löschen</p>
            </div>
            {{#controls.button secondary=true iconButton=true onClick=(action "sendImageShortcode" image)}}
              {{paper-icon "image"}}
            {{/controls.button}}
          {{/paper-item}}
        {{/each}}


				{{/paper-list}}
			{{/menu.content}}

		{{/paper-menu}}

		{{!-- Undo/Redo actiond --}}
		{{!-- {{#paper-button raised=true mini=true onClick=(action "undo")}}
			{{paper-icon "undo"}}
		{{/paper-button}}

		{{#paper-button raised=true mini=true onClick=(action "redo")}}
			{{paper-icon "redo"}}
		{{/paper-button}} --}}
</div>
