{{#paper-dialog fullscreen=fullscreen onClose=(action "closeCreateTopicDialog") origin=dialogOrigin clickOutsideToClose=true}}

	{{#paper-toolbar}}
	<div class="md-toolbar-tools">
	  <h2>Neues Thema</h2>
	  <span class="flex"></span>
	  {{#paper-button iconButton=true onClick=(action "closeCreateTopicDialog")}}{{paper-icon icon="close"}}{{/paper-button}}
	</div>
	{{/paper-toolbar}}

	{{#paper-dialog-content}}
	<div layout="row">
		{{!-- Artikelnummer muss höher gleich 500 sein --}}
	  	{{paper-input flex=100 type="number" value=articleNumber label="Beitragsnummer (>= 100)" required="true" required-errortext="Wichtig!" onChange=(action (mut articleNumber ))}}
	</div>
	<div layout="row">  		
	  	{{paper-input flex=100 type="text" value=articleName label="Beitragstitel" onChange=(action (mut articleName))}}
	</div>

	<h5>{{bandnummer}}_B_{{articleNumber}}-{{dasherize articleName}}.md</h5>
	{{/paper-dialog-content}}

	{{#paper-dialog-actions class="layout-row"}}
	<span class="flex"></span>
	{{#paper-button primary=true onClick=(action "closeCreateTopicDialog")}}Abbrechen{{/paper-button}}
	{{#paper-button primary=true onClick=(action "createTopicAction" )}}Thema erstellen{{/paper-button}}
	{{/paper-dialog-actions}}

{{/paper-dialog}}

