{{#paper-dialog fullscreen=fullscreen onClose=(action "closeCreateExcursionDialog") origin=dialogOrigin clickOutsideToClose=true}}

	{{#paper-toolbar}}
	<div class="md-toolbar-tools">
	  <h2>Neue Exkursion</h2>
	  <span class="flex"></span>
	  {{#paper-button iconButton=true onClick=(action "closeCreateExcursionDialog")}}{{paper-icon icon="close"}}{{/paper-button}}
	</div>
	{{/paper-toolbar}}

	{{#paper-dialog-content}}	
	<div layout="row">
		{{!-- Artikelnummer muss höher gleich 500 sein --}}
	  	{{paper-input flex=100 type="number" value=articleNumber label="Beitragsnummer (>= 500)" required="true" required-errortext="Wichtig!" onChange=(action (mut articleNumber ))}}
	</div>
	<div layout="row">  		
	  	{{paper-input flex=100 type="text" value=articleName label="Beitragstitel" onChange=(action (mut articleName))}}
	</div>
	<div layout="row">  		
		{{#paper-checkbox value=externalExcursion onChange=(action (mut externalExcursion))}}
			Fremdexkursion
		{{/paper-checkbox}}
		{{#paper-checkbox value=actionBound onChange=(action (mut actionBound))}}
			Actionbound
		{{/paper-checkbox}}
	</div>

	<h5>{{bandnummer}}_E_{{articleNumber}}-{{dasherize articleName}}.md</h5>
	{{/paper-dialog-content}}

	{{#paper-dialog-actions class="layout-row"}}
	<span class="flex"></span>
	{{#paper-button primary=true onClick=(action "closeCreateExcursionDialog")}}Abbrechen{{/paper-button}}
	{{#paper-button primary=true onClick=(action "createExcursionAction")}}Exkursion erstellen{{/paper-button}}
	{{/paper-dialog-actions}}

{{/paper-dialog}}

