{{!-- Editor dock --}}
<div class="flex-20">
  <div class="editor-dock">

    {{#paper-button primary=true fab=true onClick=(action "publishSite")}}
      {{paper-icon "file upload"}}
    {{/paper-button}} 
    <br>
    
    {{#paper-button fab=true onClick=(action "previewSite")}}
      {{paper-icon "pageview"}}      
    {{/paper-button}}
    <br>

    {{#paper-button fab=true onClick=(action "savePage")}}
      {{paper-icon "checkcircle"}}
    {{/paper-button}}    
    <br>

    {{#paper-button fab=true raised=true onClick=(action "openHelper")}}
      {{paper-icon "help outline"}}
    {{/paper-button}}    
    <br>
    
    {{#if deletePage}}
      {{#paper-button warn=true fab=true onClick=(action "deleteRegion" model)}}
        {{paper-icon "delete forever"}}
        <br>
      {{/paper-button}}
    {{/if}}
    
  </div>    
</div>