{{!-- Dialog --}}
{{#if showDialog}}
  {{#paper-dialog fullscreen=fullscreen clickOutsideToClose=true onClose=(action "closeDialog")}}
    {{#paper-dialog-content}}
      {{#if previewGuide}}
        {{preview-guide}}
      {{/if}}
      {{#if publishGuide}}
        {{publish-guide}}
      {{/if}}
    {{/paper-dialog-content}}
  {{/paper-dialog}}
{{/if}}

{{!-- Editor dock --}}
<div class="flex-20">
  <div class="editor-dock">

    {{#paper-button primary=true fab=true onClick=(action "publishSite")}}
      {{paper-icon "file upload"}}
    {{/paper-button}}
    <br>

    {{#paper-button fab=true onClick=(action "previewSite")}}
      {{paper-icon "pageview"}}
    {{/paper-button}}
    <br>

    {{#if exkursion}}
      {{editor-guide exkursion=true}}
    {{else if themen}}
      {{editor-guide themen=true}}
    {{else if region}}
      {{editor-guide region=true}}
    {{/if}}
    <br>

    {{#if refreshButton}}
      {{#paper-button fab=true raised=true onClick=(action "refreshPage")}}
        {{paper-icon "settings backup restore"}}
      {{/paper-button}}
      <br>
    {{/if}}

    {{#if updateRegion}}
      {{#paper-button fab=true onClick=(action "updateRegion" model)}}
        {{paper-icon "check circle"}}
      {{/paper-button}}
      <br>
    {{/if}}

    {{#if updateTopic}}
      {{#paper-button fab=true onClick=(action "updateTopic" model)}}
        {{paper-icon "check circle"}}
      {{/paper-button}}
      <br>
    {{/if}}

    {{#if updateExcursion}}
      {{#paper-button fab=true onClick=(action "updateExcursion" model)}}
        {{paper-icon "check circle"}}
      {{/paper-button}}
      <br>
    {{/if}}

    {{#if deleteRegion}}
      {{#paper-button warn=true fab=true onClick=(action "deleteRegion" model)}}
        {{paper-icon "delete forever"}}
      {{/paper-button}}
      <br>
    {{/if}}

    {{#if deleteTopic}}
      {{#paper-button warn=true fab=true onClick=(action "deleteTopic" model)}}
        {{paper-icon "delete forever"}}
      {{/paper-button}}
      <br>
    {{/if}}

    {{#if deleteExcursion}}
      {{#paper-button warn=true fab=true onClick=(action "deleteExcursion" model)}}
        {{paper-icon "delete forever"}}
      {{/paper-button}}
      <br>
    {{/if}}

  </div>
</div>