{{!-- Dialog --}}
{{#if showDialog}}
  {{#paper-dialog fullscreen=fullscreen clickOutsideToClose=true onClose=(action "closeDialog")}}

      {{#paper-dialog-content}}
        <div layout="row">
            {{#if statusPending}}
              <div id="load"></div>
            {{else}}
              <p>{{statusMessage}}</p>
            {{/if}}
        </div>

        <div layout="row">
          {{#unless statusPending}}
            <h4><a target="_blank" href="http://localhost:1313/preview/">Zur Vorschauversion</a></h4>
          {{/unless}}
        </div>
      {{/paper-dialog-content}}

      {{#unless statusPending}}
      {{#paper-dialog-actions class="layout-row"}}
         {{#paper-button raised=true onClick=(action "closeDialog")}}Ok, schliessen{{/paper-button}}
      {{/paper-dialog-actions}}
      {{/unless}}

  {{/paper-dialog}}
{{/if}}

{{!-- Editor dock --}}
<div class="flex-20">
  <div class="editor-dock">

    {{#paper-button primary=true fab=true onClick=(action "publishSite")}}
      {{paper-icon "file upload"}}
    {{/paper-button}}
    <br>

    {{#paper-button fab=true onClick=(action "previewSite")}}
      {{paper-icon "pageview"}}
    {{/paper-button}}
    <br>


    {{editor-guide}}
    <br>

    {{#paper-button fab=true raised=true onClick=(action "refreshPage")}}
      {{paper-icon "refresh"}}
    {{/paper-button}}
    <br>

    {{#if updateRegion}}
      {{#paper-button fab=true onClick=(action "updateRegion" model)}}
        {{paper-icon "check circle"}}
      {{/paper-button}}
      <br>
    {{/if}}

    {{#if updateTopic}}
      {{#paper-button fab=true onClick=(action "updateTopic" model)}}
        {{paper-icon "check circle"}}
      {{/paper-button}}
      <br>
    {{/if}}

    {{#if updateExcursion}}
      {{#paper-button fab=true onClick=(action "updateExcursion" model)}}
        {{paper-icon "check circle"}}
      {{/paper-button}}
      <br>
    {{/if}}

    {{#if deleteRegion}}
      {{#paper-button warn=true fab=true onClick=(action "deleteRegion" model)}}
        {{paper-icon "delete forever"}}
      {{/paper-button}}
      <br>
    {{/if}}

    {{#if deleteTopic}}
      {{#paper-button warn=true fab=true onClick=(action "deleteTopic" model)}}
        {{paper-icon "delete forever"}}
      {{/paper-button}}
      <br>
    {{/if}}

    {{#if deleteExcursion}}
      {{#paper-button warn=true fab=true onClick=(action "deleteExcursion" model)}}
        {{paper-icon "delete forever"}}
      {{/paper-button}}
      <br>
    {{/if}}

  </div>
</div>