{{#paper-button fab=true raised=true onClick=(action "openGuide")}}
  {{paper-icon "help outline"}}
{{/paper-button}}

{{#if showGuide}}
	{{#paper-dialog fullscreen=fullscreen onClose=(action "closeGuide") origin=dialogOrigin clickOutsideToClose=true}}

		{{#paper-toolbar}}
		<div class="md-toolbar-tools">
		  <h2>LiD Online Hilfe</h2>
		  <span class="flex"></span>
		  {{#paper-button iconButton=true onClick=(action "closeGuide")}}{{paper-icon icon="close"}}{{/paper-button}}
		</div>
		{{/paper-toolbar}}

		{{!-- Leitfadeninhalt --}}
		{{#paper-dialog-content}}

		{{#if exkursion}}
      <h2>Die Exkursionsroute erstellen</h2>
			<p>Den Onlineservice <a target="_blank" href="http://geojson.io">geojson.io</a> aufrufen und den gezeichneten Pfad als geojson exportieren. Die Datei nach der Beitrags Id benennen <i>78_E_557.json</i>, Dateiendung <i>.json</i>. Speicherort ist im <i>static/paths</i> Ordner des LiD Repos.</p>
      {{image-guide}}
      {{markdown-guide}}
		{{else if themen}}
      {{image-guide}}
      {{markdown-guide}}
		{{else if region}}
			<h4>Der Shortcode für Abbildungen des Bandes lautet bild_alt</h4>
      {{image-guide}}
      {{markdown-guide}}
		{{/if}}

		{{/paper-dialog-content}}

	{{/paper-dialog}}
{{/if}}