{{!-- placeholder  --}}
<div class="flex-20">
  {{#site-navigation showRegionListAction="regionList"}}
  {{/site-navigation}}    
</div>

{{!-- Excursion edit --}}
<div class="flex-60">

    {{#paper-card class="meta-editor" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.subhead}}Frontmatter{{/text.subhead}}   
          {{#text.headline}}Metadaten{{/text.headline}}   
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <div layout="" layout-sm="column">
    		  {{paper-input flex=70 label="Titel" value=model.title onChange=(action (mut model.title))}}
    		  {{paper-input flex=30 label="Dateiname" value=model.id onChange=""}}
    	  </div>

        {{!-- Kurzbeschreibung --}}
        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=100 label="Kurzbeschreibung" value=model.description onChange=(action (mut model.description))}}          
        </div>

        {{!-- exkursion array --}}
        <h3>Stationen</h3>
        {{#each model.exkursion as |excursion|}}
        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=20 label="Stationsnummer" value=excursion.nr onChange=(action (mut excursion.nr))}}   
          {{paper-input textarea=true block=true flex=30 label="Latitude" value=excursion.lat onChange=(action (mut excursion.lat))}}          
          {{paper-input textarea=true block=true flex=30 label="Longitude" value=excursion.lon onChange=(action (mut excursion.lon))}}                      
          {{#paper-button mini=true raised=true onClick=(action "getExcursion" model.exkursion)}}
            {{paper-icon "add location"}}
          {{/paper-button}}
        </div>
        {{/each}}
        <p>Weitere Station hinzufügen</p>

        <hr>

        {{!-- Literaturangaben --}}
        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=100 label="Literaturangaben" value=model.literaturangaben onChange=(action (mut model.literaturangaben))}}        
        </div>
        
        {{!-- Bildnachweise --}}
        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=100 label="Bildnachweise" value=model.bildnachweise onChange=(action (mut model.bildnachweise))}}          
        </div>

        {{!-- VG Wort Code --}}
        <div layout="" layout-sm="column">
          {{paper-input flex=70 label="VG Wort Code" value=model.vgWortCode onChange=(action (mut model.vgWortCode))}}
        </div>

      {{/card.content}}
    {{/paper-card}}

    {{#content-editor model=model}}
    {{/content-editor}}
 
</div>  

{{#editor-dock model=model updateExcursion=true deleteExcursion=true deleteExcursionAction="deletePage" updateExcursionAction="updatePage"}}
{{/editor-dock}}