{{!-- placeholder  --}}
<div class="flex-20">
  {{#site-navigation showRegionListAction="regionList"}}
  {{/site-navigation}}
</div>

{{!-- Excursion edit --}}
<div class="flex-60">

    {{#paper-card class="meta-editor" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.subhead}}Frontmatter{{/text.subhead}}
          {{#text.headline}}Metadaten{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <div layout="" layout-sm="column">
    		  {{paper-input flex=70 label="Titel" value=model.title onChange=(action (mut model.title))}}
    		  {{paper-input flex=30 label="Dateiname" value=model.id onChange=""}}
    	  </div>

        {{!-- Kurzbeschreibung --}}
        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=100 label="Kurzbeschreibung" value=model.description onChange=(action (mut model.description))}}
        </div>

        {{!-- Exkursionsroute --}}
        <h3 class="md-headline">Die Exkursionroute</h3>

        {{!-- Centroid, Zoomstufe, Exkursionsstationen --}}
        <div layout="" layout-sm="column">
          {{#paper-button mini=true raised=true onClick=""}}
            {{paper-icon "add location"}}
          {{/paper-button}}
          {{paper-input flex=33 label="Lat. Kartenmittelpunkt" value=model.centroidLat onChange=(action (mut model.centroidLat))}}
          {{paper-input flex=33 label="Lon. Kartenmittelpunkt" value=model.centroidLon onChange=(action (mut model.centroidLon))}}
          {{paper-input flex=33 label="Zoomstufe der Karte" value=model.zoomstufe type=number min=1 max=18 required=true onChange=(action (mut model.zoomstufe))}}
          {{paper-input flex=20 label="Exkursionsstationen" value=model.exkursionsstationen type=number min=1 required=true onChange=(action (mut model.exkursionsstationen))}}
        </div>


        <div layout="" layout-sm="column">
        {{#leaflet-map scrollWheelZoom=false lat=model.centroidLat lng=model.centroidLon zoom=model.zoomstufe}}
            {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

            {{#each model.exkursion as |excursion index|}}
                {{#marker-layer draggable=true lat=excursion.lat lng=excursion.lon onDragend=(action "updateLocation" excursion index)}}
                  {{#tooltip-layer direction='top'}}
                    {{excursion.nr}}
                  {{/tooltip-layer}}
                {{/marker-layer}}
            {{/each}}

          {{/leaflet-map}}
        </div>

        {{#paper-list}}
          {{#each model.exkursion as |excursion|}}
            {{#paper-item class="md-3-line"}}
              <div class="md-list-item-text">
                <h3>Station {{excursion.nr}}, Koordinaten: {{excursion.lat}}, {{excursion.lon}}  </h3>
              </div>
              {{paper-divider}}
            {{/paper-item}}
          {{/each}}
        {{/paper-list}}

        {{#each model.exkursion as |excursion|}}
        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=20 label="Stationsnummer" value=excursion.nr onChange=(action (mut excursion.nr))}}
          {{paper-input textarea=true block=true flex=30 label="Latitude" value=excursion.lat onChange=(action (mut excursion.lat))}}
          {{paper-input textarea=true block=true flex=30 label="Longitude" value=excursion.lon onChange=(action (mut excursion.lon))}}
        </div>
        {{/each}}
        <p>Weitere Station hinzufügen</p>

        <hr>

        {{!-- Literaturangaben --}}
        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=100 label="Literaturangaben" value=model.literaturangaben onChange=(action (mut model.literaturangaben))}}
        </div>

        {{!-- Bildnachweise --}}
        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=100 label="Bildnachweise" value=model.bildnachweise onChange=(action (mut model.bildnachweise))}}
        </div>

        {{!-- VG Wort Code --}}
        <div layout="" layout-sm="column">
          {{paper-input flex=70 label="VG Wort Code" value=model.vgWortCode onChange=(action (mut model.vgWortCode))}}
        </div>

      {{/card.content}}
    {{/paper-card}}

    {{#content-editor model=model}}
    {{/content-editor}}

</div>

{{#editor-dock model=model updateExcursion=true deleteExcursion=true deleteExcursionAction="deletePage" updateExcursionAction="updatePage"}}
{{/editor-dock}}