{{!-- placeholder  --}}
<div class="flex-20">
  {{#site-navigation showRegionListAction="regionList" relatedRegion="true" relatedRegionAction="relatedRegion" contentList="true" contentListAction="excursionList"}}
  {{/site-navigation}}
</div>

{{!-- Excursion edit --}}
<div class="flex-60">

{{!-- Frontmatter --}}
    {{#paper-card class="meta-editor" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.subhead}}Metadaten{{/text.subhead}}
          {{#text.headline}}
            {{model.id}}
            {{#if model.fremdexkursion}}
              <mark>Fremdexkursion</mark>
            {{else if model.actionbound}}
              <mark>Actionbound</mark>
            {{/if}}
          {{/text.headline}}
        {{/title.text}}
        {{#title.media size="lg"}}
        {{#paper-menu as |menu|}}
          {{#menu.trigger}}
            {{#if model.fremdexkursion}}
              <p class="meta-editor-button">Neues Vorschaubild auswählen</p>
            {{else}}
              <p class="meta-editor-button">Neues Cover auswählen</p>
            {{/if}}

          {{/menu.trigger}}

          {{#menu.content width=5 as |content|}}
            {{#paper-list}}
            {{#each model.images as |image|}}
              {{#paper-item onClick=null as |controls|}}
                <img class="preview-img" src="{{image.src}}" alt="">
                <div class="md-list-item-text asset-viewer-list-item">
                  <h4>{{image.filename}}</h4>
                </div>

                {{#if model.fremdexkursion}}
                  {{#controls.button secondary=true iconButton=true onClick=(action "updatePreviewCover" image)}}
                    {{paper-icon "image"}}
                  {{/controls.button}}
                {{else}}
                  {{#controls.button secondary=true iconButton=true onClick=(action "updateCover" image)}}
                    {{paper-icon "image"}}
                  {{/controls.button}}
                {{/if}}

              {{/paper-item}}
            {{/each}}
            {{/paper-list}}
          {{/menu.content}}
        {{/paper-menu}}
          {{#if model.fremdexkursion}}
            <img src="http://localhost:1313/{{model.staticUrl}}/{{model.previewCover}}"
            alt="Kein Cover ausgewählt"
            title="{{model.title}} Cover Vorschau">
          {{else}}
            <img src="http://localhost:1313/{{model.staticUrl}}/{{model.cover}}"
            alt="Kein Cover ausgewählt"
            title="{{model.title}} Cover">
          {{/if}}
        {{/title.media}}


      {{/card.title}}

      {{!-- Metadaten ohne Fremdexkursion/actionbound --}}
      {{#unless (or model.fremdexkursion model.actionbound)}}
      {{#card.content}}

        {{!-- Titel --}}
        {{paper-input block=true label="Titel" value=model.title onChange=(action (mut model.title))}}

        {{!-- AutorIn --}}
        {{paper-input block=true label="AutorIn" value=model.autor onChange=(action (mut model.autor))}}

        {{!-- Kurzbeschreibung --}}
        {{paper-input textarea=true block=true passThru=(hash rows=4) flex=100 label="Kurzbeschreibung" value=model.description onChange=(action (mut model.description))}}

        {{!-- VG Wort Code --}}
        {{paper-input block=true label="VG Wort Code" value=model.vgWortCode onChange=(action (mut model.vgWortCode))}}

        {{!-- Vorschaubild --}}
        {{#paper-menu as |menu|}}
          <h4>Vorschaubild</h4>
          {{#menu.trigger}}
            <p class="meta-editor-button">Neues Vorschaubild auswählen</p>
          {{/menu.trigger}}
          <img class="meta-image" src="http://localhost:1313/{{model.staticUrl}}/{{model.previewCover}}"
            alt="Kein Vorschaubild ausgewählt"
            title="{{model.title}} Cover">

          {{#menu.content width=5 as |content|}}
            {{#paper-list}}
            {{#each model.images as |image|}}
              {{#paper-item onClick=null as |controls|}}
                <img class="preview-img" src="{{image.src}}" alt="">
                <div class="md-list-item-text asset-viewer-list-item">
                  <h4>{{image.filename}}</h4>
                </div>

                {{#controls.button secondary=true iconButton=true onClick=(action "updatePreviewCover" image)}}
                  {{paper-icon "image"}}
                {{/controls.button}}
              {{/paper-item}}
            {{/each}}
            {{/paper-list}}
          {{/menu.content}}
        {{/paper-menu}}

        {{!-- Literaturangaben --}}
        <h4>Literaturangaben
        <span class="meta-editor-button-inline">{{show-references model=model references=model.literaturangaben}}</span>
        </h4>
          {{paper-chips content=model.literaturangaben
            removeItem=(action "removeReference")
            addItem=(action "addReference")
            placeholder="Neue Quelle"}}

        {{!-- Bildnachweise --}}
        <h4>Bildnachweise
        <span class="meta-editor-button-inline">{{show-references model=model references=model.bildnachweise}}</span>
        </h4>
          {{paper-chips content=model.bildnachweise
            removeItem=(action "removeImgRef")
            addItem=(action "addImgRef")
            placeholder="Neuer Bildnachweis"}}

        {{!-- Exkursionstypen --}}
        <h4>Exkursionstypen</h4>
          {{paper-chips content=model.exkursionstypen
            removeItem=(action "removeCategory")
            addItem=(action "addCategory")
            options=exkursionstypen
            placeholder="Füge einen Typ hinzu"
            noMatchesMessage="Typ existiert nicht"}}


      {{!-- Exkursionsroute --}}
        <div id="dialog-container">

          {{!-- Stationen hinzufügen/entfernen, Kartenausschnitt --}}
          <h3 class="md-headline">Die Exkursionroute
          <span class="meta-excursion-editor-button" onClick={{action "addExcursionStation"}}>Station hinzufügen</span>
          <span class="meta-excursion-editor-button" onClick={{action "removeExcursionStation"}}>Letzte Station entfernen</span>
          <span class="meta-excursion-editor-button" onClick={{action "setMapExtent"}}>Kartenausschnitt festlegen</span>
          </h3>

          {{!-- Centroid, Zoomstufe, Exkursionsstationen, Exkursionslänge --}}
          <div class="layout-row">
            {{!-- {{paper-input flex=33 label="Kartenmittelpunkt Lat." value=model.centroidLat onChange=(action (mut model.centroidLat))}}
            {{paper-input flex=33 label="Kartenmittelpunkt Lon." value=model.centroidLon onChange=(action (mut model.centroidLon))}} --}}
            {{paper-input flex=33 label="Zoomstufe der Karte" value=model.zoomstufe type=number min=1 max=18 required=true onChange=(action (mut model.zoomstufe))}}
            {{paper-input flex=33 label="Exkursionsstationen" value=model.exkursionsstationen type=number min=1 required=true onChange=(action (mut model.exkursionsstationen))}}
            {{paper-input flex=33 label="Exkursionslänge in km" value=model.exkursionslaenge onChange=(action (mut model.exkursionslaenge))}}

          </div>

          {{!-- Kartenausschnitt, Exkursionsstationen --}}
          <div layout="" layout-sm="column">

            {{!-- Set map extent --}}
            {{#if setMapExtentDialog}}
              {{#paper-dialog fullscreen=true onClose=(action "closeSetMapExtentDialog" "cancel") parent="#dialog-container" clickOutsideToClose=true}}

                {{#paper-toolbar}}
                  <div class="md-toolbar-tools">
                    <h2>Kartenausschnitt festlegen</h2>
                    <span class="flex"></span>
                    {{#paper-button iconButton=true onClick=(action "closeSetMapExtentDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
                  </div>
                {{/paper-toolbar}}

                {{#paper-dialog-content}}
                <div class="map-dialog">
                    {{#leaflet-map  class="map-dialog-container" scrollWheelZoom=false lat=model.centroidLat lng=model.centroidLon zoom=model.zoomstufe onZoomend=(action "queryMapExtent") onDragend=(action "queryMapExtent")}}
                      {{tile-layer url="https://api.tiles.mapbox.com/v4/ifl.lplpe32l/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiaWZsIiwiYSI6IksxanctMkUifQ.sAHrtehStvROYTeXS20NRg"}}
                      {{#each model.exkursion as |excursion index|}}
                        {{marker-layer lat=excursion.lat lng=excursion.lon}}
                      {{/each}}
                    {{/leaflet-map}}

                </div>
                {{/paper-dialog-content}}

                {{#paper-dialog-actions class="layout-row"}}
                  <span class="flex"></span>
                  {{#paper-button primary=true onClick=(action "closeSetMapExtentDialog" "cancel")}}Abbrechen{{/paper-button}}
                  {{#paper-button primary=true onClick=(action "saveMapExtent")}}Kartenausschnitt speichern{{/paper-button}}
                {{/paper-dialog-actions}}

              {{/paper-dialog}}
            {{/if}}

          </div>

          {{!-- Karte mit Exkursionsstationen --}}
          <div layout="" layout-sm="column">
            {{#leaflet-map scrollWheelZoom=false lat=model.centroidLat lng=model.centroidLon zoom=model.zoomstufe}}
                {{tile-layer url="https://api.tiles.mapbox.com/v4/ifl.lplpe32l/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiaWZsIiwiYSI6IksxanctMkUifQ.sAHrtehStvROYTeXS20NRg"}}

                {{#each model.exkursion as |excursion index|}}
                    {{#marker-layer draggable=true lat=excursion.lat lng=excursion.lon onDragend=(action "updateLocation" excursion index)}}
                      {{#tooltip-layer direction='top'}}
                        Station {{excursion.nr}}
                        <br>
                        {{excursion.lat}}, {{excursion.lon}}
                      {{/tooltip-layer}}
                    {{/marker-layer}}
                {{/each}}

            {{/leaflet-map}}
          </div>

        </div>

      {{/card.content}}
      {{/unless}}

      {{!-- Fremdexkursion Metadaten --}}
      {{#if model.fremdexkursion}}
      {{#card.content}}

          {{!-- Titel --}}
          {{paper-input block=true label="Titel" value=model.title onChange=(action (mut model.title))}}

          {{!-- Titel Vorschaubild --}}
          {{paper-input textarea=true block=true flex=100 label="Text im Vorschaubild" value=model.previewCoverTitle onChange=(action (mut model.previewCoverTitle))}}

          {{!-- Exkursionsanbieter --}}
          {{paper-input block=true label="Exkursionsanbieter" value=model.exkursionsAnbieter onChange=(action (mut model.exkursionsAnbieter))}}

          {{!-- ExkursionsUrl --}}
          {{paper-input block=true label="Exkursions Url" value=model.exkursionsUrl onChange=(action (mut model.exkursionsUrl))}}

          {{!-- Exkursionsstationen und -länge --}}
          <div class="layout-row">
            {{paper-input flex=50 label="Exkursionsstationen" value=model.exkursionsstationen type=number min=1 required=true onChange=(action (mut model.exkursionsstationen))}}
            {{paper-input flex=50 label="Exkursionslänge in km" value=model.exkursionslaenge onChange=(action (mut model.exkursionslaenge))}}
          </div>

          {{!-- Exkursionstypen --}}
          <h4>Exkursionstypen</h4>
          {{paper-chips content=model.exkursionstypen
            removeItem=(action "removeCategory")
            addItem=(action "addCategory")
            options=exkursionstypen
            placeholder="Füge einen Typ hinzu"
            noMatchesMessage="Typ existiert nicht"}}

      {{/card.content}}
      {{/if}}

       {{!-- Actionbound Metadaten --}}
      {{#if model.actionbound}}
      {{#card.content}}

        {{!-- Titel --}}
        {{paper-input block=true label="Titel" value=model.title onChange=(action (mut model.title))}}

        {{!-- AutorIn --}}
        {{paper-input block=true label="AutorIn" value=model.autor onChange=(action (mut model.autor))}}

        {{!-- Kurzbeschreibung --}}
        {{paper-input textarea=true block=true passThru=(hash rows=4) flex=100 label="Kurzbeschreibung" value=model.description onChange=(action (mut model.description))}}

        {{!-- Vorschaubild --}}
        {{#paper-menu as |menu|}}
          <h4>Vorschaubild</h4>
          {{#menu.trigger}}
            <p class="meta-editor-button">Neues Vorschaubild auswählen</p>
          {{/menu.trigger}}
          <img class="meta-image" src="http://localhost:1313/{{model.staticUrl}}/{{model.previewCover}}"
            alt="Kein Vorschaubild ausgewählt"
            title="{{model.title}} Cover">

          {{#menu.content width=5 as |content|}}
            {{#paper-list}}
            {{#each model.images as |image|}}
              {{#paper-item onClick=null as |controls|}}
                <img class="preview-img" src="{{image.src}}" alt="">
                <div class="md-list-item-text asset-viewer-list-item">
                  <h4>{{image.filename}}</h4>
                </div>

                {{#controls.button secondary=true iconButton=true onClick=(action "updatePreviewCover" image)}}
                  {{paper-icon "image"}}
                {{/controls.button}}
              {{/paper-item}}
            {{/each}}
            {{/paper-list}}
          {{/menu.content}}
        {{/paper-menu}}

        <br>
        <br>

        {{!-- Exkursionsstationen und -länge --}}
        <div class="layout-row">
          {{paper-input flex=50 label="Exkursionsstationen" value=model.exkursionsstationen type=number min=1 required=true onChange=(action (mut model.exkursionsstationen))}}
          {{paper-input flex=50 label="Exkursionslänge in km" value=model.exkursionslaenge onChange=(action (mut model.exkursionslaenge))}}
        </div>

        {{!-- Exkursionstypen --}}
        <h4>Exkursionstypen</h4>
        {{paper-chips content=model.exkursionstypen
          removeItem=(action "removeCategory")
          addItem=(action "addCategory")
          options=exkursionstypen
          placeholder="Füge einen Typ hinzu"
          noMatchesMessage="Typ existiert nicht"}}

      {{/card.content}}
      {{/if}}

    {{/paper-card}}


    {{#content-editor model=model excursion=true assetUrl=model.assetUrl updateAction="refreshRoute"}}
    {{/content-editor}}


</div>

{{#editor-dock model=model updateExcursion=true deleteExcursion=true deleteExcursionAction="openDeleteDialog" updateExcursionAction="updateExcursion" refreshButton=true refreshPageAction="refreshPage" exkursion=true}}
{{/editor-dock}}

{{#if updateDialog}}
  {{#update-dialog message="Die Änderung wurde gespeichert."}}
  {{/update-dialog}}
{{/if}}

{{#if deleteDialog}}
  {{#delete-excursion-dialog message="Die Exkursion wird gelöscht." closeDeleteDialogAction="closeDeleteDialog" deleteExcursionConfirmedAction="deleteExcursion"}}
  {{/delete-excursion-dialog}}
{{/if}}