{{!-- placeholder  --}}
<div class="flex-20">
  {{#site-navigation showRegionListAction="regionList"}}
  {{/site-navigation}}
</div>

{{!-- Excursion edit --}}
<div class="flex-60">

    {{#paper-card class="meta-editor" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.subhead}}Frontmatter{{/text.subhead}}
          {{#text.headline}}Metadaten{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <div layout="" layout-sm="column">
    		  {{paper-input flex=70 label="Titel" value=model.title onChange=(action (mut model.title))}}
    		  {{paper-input flex=30 label="Dateiname" value=model.id onChange=""}}
    	  </div>

        {{!-- Kurzbeschreibung --}}
        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=100 label="Kurzbeschreibung" value=model.description onChange=(action (mut model.description))}}
        </div>


        {{!-- Literaturangaben --}}
        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=100 label="Literaturangaben" value=model.literaturangaben onChange=(action (mut model.literaturangaben))}}
        </div>

        {{!-- Bildnachweise --}}
        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=100 label="Bildnachweise" value=model.bildnachweise onChange=(action (mut model.bildnachweise))}}
        </div>

        {{!-- VG Wort Code --}}
        <div layout="" layout-sm="column">
          {{paper-input flex=70 label="VG Wort Code" value=model.vgWortCode onChange=(action (mut model.vgWortCode))}}
        </div>

      {{!-- Fremdexkursionen ausschließen ! --}}
      {{#unless (or model.fremdexkursion model.actionbound) }}

        {{!-- Exkursionsroute --}}
        <h3 class="md-headline">Die Exkursionroute</h3>

        {{!-- Centroid, Zoomstufe, Exkursionsstationen --}}
        <div layout="" layout-sm="column">

          {{paper-input flex=33 label="Kartenmittelpunkt Lat." value=model.centroidLat onChange=(action (mut model.centroidLat))}}
          {{paper-input flex=33 label="Kartenmittelpunkt Lon." value=model.centroidLon onChange=(action (mut model.centroidLon))}}
          {{paper-input flex=33 label="Zoomstufe der Karte" value=model.zoomstufe type=number min=1 max=18 required=true onChange=(action (mut model.zoomstufe))}}
          {{paper-input flex=20 label="Exkursionsstationen" value=model.exkursionsstationen type=number min=1 required=true onChange=(action (mut model.exkursionsstationen))}}          
          {{#paper-button class="button-bottom-margin" onClick=""}}
            <p>Kartenausschnitt festlegen</p>
            {{!-- {{paper-icon "add location"}} --}}
          {{/paper-button}}

          {{!-- Set map extent --}}
              {{!-- {{#if showMapDialog}}
                {{#paper-dialog fullscreen=fullscreen onClose=(action "closeMapDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}

                  {{#paper-toolbar}}
                    <div class="md-toolbar-tools">
                      <h2>Kartenausschnitt festlegen</h2>
                      <span class="flex"></span>
                      {{#paper-button iconButton=true onClick=(action "closeMapDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
                    </div>
                  {{/paper-toolbar}}

                  {{#paper-dialog-content}}

                  {{/paper-dialog-content}}

                  {{#paper-dialog-actions class="layout-row"}}
                    <span class="flex"></span>
                    {{#paper-button primary=true onClick=(action "closeMapDialog" "cancel")}}Abbrechen{{/paper-button}}
                    {{#paper-button primary=true onClick=(action "saveRegion" )}}Band erstellen{{/paper-button}}
                  {{/paper-dialog-actions}}

                {{/paper-dialog}}
              {{/if}} --}}

        </div>

        {{!-- Karte mit Exkursionsstationen --}}
        <div layout="" layout-sm="column">
          {{#leaflet-map scrollWheelZoom=false lat=model.centroidLat lng=model.centroidLon zoom=model.zoomstufe}}
              {{tile-layer url="https://api.tiles.mapbox.com/v4/ifl.lplpe32l/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiaWZsIiwiYSI6IksxanctMkUifQ.sAHrtehStvROYTeXS20NRg"}}

              {{#each model.exkursion as |excursion index|}}
                  {{#marker-layer draggable=true lat=excursion.lat lng=excursion.lon onDragend=(action "updateLocation" excursion index)}}
                    {{#tooltip-layer direction='top'}}
                      Station {{excursion.nr}}
                      <br>
                      {{excursion.lat}}, {{excursion.lon}}
                    {{/tooltip-layer}}
                  {{/marker-layer}}
              {{/each}}

          {{/leaflet-map}}
        </div>

      {{/unless}}

      {{/card.content}}
    {{/paper-card}}

    {{#content-editor model=model}}
    {{/content-editor}}

</div>

{{#editor-dock model=model updateExcursion=true deleteExcursion=true deleteExcursionAction="openDeleteDialog" updateExcursionAction="updateExcursion"}}
{{/editor-dock}}

{{#if updateDialog}}
  {{#update-dialog message="Die Änderung wurde gespeichert."}}
  {{/update-dialog}}
{{/if}}

{{#if deleteDialog}}
  {{#delete-excursion-dialog message="Die Exkursion wird gelöscht." closeDeleteDialogAction="closeDeleteDialog" deleteExcursionConfirmedAction="deleteExcursion"}}
  {{/delete-excursion-dialog}}
{{/if}}