{{!-- placeholder  --}}
<div class="flex-20">
  {{#site-navigation showRegionListAction="regionList"}}
  {{/site-navigation}}
</div>

{{!-- Region list --}}
<div class="flex-60">

    {{!-- Info Themen/Exkursionen --}}
    <div layout="row">
      <div class="flex-50">
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}{{excursion.length}} Exkursionen{{/text.headline}}
            {{/title.text}}
          {{/card.title}}
          {{#card.content}}
            {{#link-to "excursion.new" region.id}}Exkursion erstellen{{/link-to}}
            {{#if excursion.length }}
              {{#link-to "excursion-list" region.id}}Exkursionen auflisten{{/link-to}}
            {{/if}}
          {{/card.content}}
        {{/paper-card}}
      </div>

      <div class="flex-50">
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}{{topic.length}} Themen{{/text.headline}}
            {{/title.text}}
          {{/card.title}}
          {{#card.content}}
              {{#link-to "topic.new" region.id}}Thema erstellen{{/link-to}}
            {{#if topic.length }}
              {{#link-to "topic-list" region.id}}Themen auflisten{{/link-to}}
            {{/if}}

          {{/card.content}}
        {{/paper-card}}
      </div>
    </div>

    {{!-- Frontmatter Region --}}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.subhead}}Frontmatter{{/text.subhead}}
          {{#text.headline}}Band {{region.title}}{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}

        <div layout="row" layout-sm="column">
    		  {{paper-input flex=70 label="Titel" value=region.title onChange=(action (mut region.title))}}
    		  {{paper-input flex=30 label="Bandnummer" value=region.bandnummer onChange=(action (mut region.bandnummer))}}
    	  </div>

        <div layout="row" layout-sm="column">
          {{paper-input flex=100 label="Untertitel" value=region.subtitle onChange=(action (mut region.subtitle))}}
        </div>

        <div layout="row" layout-sm="column">
          {{paper-input flex=70 label="Reihentitel" value=region.editionTitle onChange=(action (mut region.editionTitle))}}
          {{paper-input flex=30 label="Erscheinungsjahr" value=region.dateOfPublication onChange=(action (mut region.dateOfPublication))}}
        </div>

        <div layout="row" layout-sm="column">
          {{paper-input flex=70 label="Herausgeber" value=region.editor onChange=(action (mut region.editor))}}
          {{paper-input flex=30 label="ISBN" value=region.isbn onChange=(action (mut region.isbn))}}
        </div>

        <div layout="row" layout-sm="column">
          {{paper-input flex=100 label="Herausgeberinstitut" value=region.editorInstitut onChange=(action (mut region.editorInstitut))}}
        </div>


        <div layout="row" layout-sm="column">
          {{paper-input flex=30 label="Verlag" value=region.publisher onChange=(action (mut region.publisher))}}
          {{paper-input flex=30 label="Ort" value=region.location onChange=(action (mut region.location))}}
          {{paper-input flex=30 label="Seitenzahl" value=region.pagination onChange=(action (mut region.pagination))}}
        </div>

        <div layout="row" layout-sm="column">
          {{paper-input flex=60 label="Umfang" value=region.extent onChange=(action (mut region.extent))}}
        </div>

        {{#each region.bundesland as |bundesland|}}
          {{paper-checkbox label=bundesland value=region.bundesland onChange=(action (mut region.bundesland))}}
        {{/each}}

      {{/card.content}}
    {{/paper-card}}

    {{!-- Meta.Kurzbeschreibung Region --}}
    {{#paper-card as |card|}}
      {{#card.content}}

        <div layout="" layout-sm="column">
          {{paper-input textarea=true block=true flex=100 label="Kurzbeschreibung" value=region.description onChange=(action (mut region.description))}}
        </div>

      {{/card.content}}
    {{/paper-card}}

</div>

{{#editor-dock model=region.id updateRegion=true deleteRegion=true deleteRegionAction="deleteRegion" updateRegionAction="updateRegion"}}
{{/editor-dock}}

{{#if updateDialog}}
  {{#update-dialog message="Die Änderung wurde gespeichert."}}
  {{/update-dialog}}
{{/if}}

{{#if deleteDialog}}
  {{#update-dialog message="Die Region wird gelöscht."}}
  {{/update-dialog}}
{{/if}}

