{{!-- placeholder  --}}
<div class="flex-20">
  {{#site-navigation showRegionListAction="regionList"}}
  {{/site-navigation}}
</div>

{{!-- Region list --}}
<div class="flex-60">

    {{!-- Info Themen/Exkursionen --}}
    <div class="layout-row">
      <div class="flex-50">
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}{{excursion.length}} Exkursionen{{/text.headline}}
            {{/title.text}}
          {{/card.title}}
          {{#card.content}}
            <a href="#" {{action "openCreateExcursionDialog"}}>Exkursion erstellen</a>
            {{#if excursion.length }}
              {{#link-to "excursion-list" region.id}}Exkursionen auflisten{{/link-to}}
            {{/if}}
          {{/card.content}}
        {{/paper-card}}
      </div>

      {{#if createExcursion}}
        {{#create-excursion bandnummer=region.bandnummer closeCreateExcursionDialogAction="closeCreateExcursionDialog" createExcursionConfirmedAction="createExcursionConfirmed"}}
        {{/create-excursion}}
      {{/if}}

        <div class="flex-50">
          {{#paper-card as |card|}}
            {{#card.title as |title|}}
              {{#title.text as |text|}}
                {{#text.headline}}{{topic.length}} Themen{{/text.headline}}
              {{/title.text}}
            {{/card.title}}
            {{#card.content}}
                <a href="#" {{action "openCreateTopicDialog"}}>Thema erstellen</a>
              {{#if topic.length }}
                {{#link-to "topic-list" region.id}}Themen auflisten{{/link-to}}
              {{/if}}

            {{/card.content}}
          {{/paper-card}}
        </div>

      {{#if createTopic}}
        {{#create-topic bandnummer=region.bandnummer closeCreateTopicDialogAction="closeCreateTopicDialog" createTopicConfirmedAction="createTopicConfirmed"}}
        {{/create-topic}}
      {{/if}}

    </div>

    {{!-- Frontmatter Region --}}
    {{#paper-card class="meta-editor" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.subhead}}Band {{region.title}}{{/text.subhead}}
          {{#text.headline}}Metadaten{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        
        {{!-- Titel / Bandnummer --}}
        <div layout="row" layout-sm="column">
    		  {{paper-input flex=70 label="Titel" value=region.title onChange=(action (mut region.title))}}
    		  {{paper-input flex=30 label="Bandnummer" value=region.bandnummer onChange=(action (mut region.bandnummer))}}
    	  </div>
        
        {{!-- Untertitel --}}
        <div layout="row" layout-sm="column">
          {{paper-input flex=100 label="Untertitel" value=region.subtitle onChange=(action (mut region.subtitle))}}
        </div>
        
        {{!-- Reihentitel / Erscheinungsjahr --}}
        <div layout="row" layout-sm="column">
          {{paper-input flex=70 label="Reihentitel" value=region.editionTitle onChange=(action (mut region.editionTitle))}}
          {{paper-input flex=30 label="Erscheinungsjahr" value=region.dateOfPublication onChange=(action (mut region.dateOfPublication))}}
        </div>
        
        {{!-- Herausgeber / ISBN --}}
        <div layout="row" layout-sm="column">
          {{paper-input flex=70 label="Herausgeber" value=region.editor onChange=(action (mut region.editor))}}
          {{paper-input flex=30 label="ISBN" value=region.isbn onChange=(action (mut region.isbn))}}
        </div>
        
        {{!-- Herausgeberinstitut --}}
        <div layout="row" layout-sm="column">
          {{paper-input flex=100 label="Herausgeberinstitut" value=region.editorInstitut onChange=(action (mut region.editorInstitut))}}
        </div>

        {{!-- Verlag / Ort / Seitenzahl --}}
        <div layout="row" layout-sm="column">
          {{paper-input flex=30 label="Verlag" value=region.publisher onChange=(action (mut region.publisher))}}
          {{paper-input flex=30 label="Ort" value=region.location onChange=(action (mut region.location))}}
          {{paper-input flex=30 label="Seitenzahl" value=region.pagination onChange=(action (mut region.pagination))}}
        </div>
        
        {{!-- Umfang --}}
        <div layout="row" layout-sm="column">
         <h4>Umfang</h4>
          {{paper-chips content=region.extent
            removeItem=(action "removeExtent")
            addItem=(action "addExtent")            
            placeholder="Füge ein Element hinzu"}}
          
        </div>     
            
        {{!-- Kurzbeschreibung --}}
        <div layout="row" layout-sm="column">
          {{paper-input passThru=(hash rows=15) textarea=true block=true flex=100 label="Kurzbeschreibung" value=region.description onChange=(action (mut region.description))}}
        </div>
        
        {{!-- Bundesland --}}
        <div layout="" layout-sm="column">
        <h4>Bundesland</h4>
          {{paper-chips content=region.bundesland
            removeItem=(action "removeItem")
            addItem=(action "addItem")
            options=bundeslaender
            placeholder="Füge ein Bundesland hinzu"
            noMatchesMessage="Dieses Bundesland existiert nicht"}}
          
        </div>


      {{/card.content}}
    {{/paper-card}}


    {{!-- Content  --}}
    {{#content-editor model=region region=true assetUrl=region.assetUrl updateAction="refreshRoute"}}
    {{/content-editor}}

</div>

{{#editor-dock model=region.id updateRegion=true deleteRegion=true deleteRegionAction="openDeleteDialog" updateRegionAction="updateRegion"}}
{{/editor-dock}}

{{#if updateDialog}}
  {{#update-dialog message="Die Änderung wurde gespeichert."}}
  {{/update-dialog}}
{{/if}}

{{#if deleteDialog}}
  {{#delete-region-dialog message="Die Region wird gelöscht." closeDeleteDialogAction="closeDeleteDialog" deleteRegionConfirmedAction="deleteRegion"}}
  {{/delete-region-dialog}}
{{/if}}

