{{!-- placeholder  --}}
<div class="flex-20">
  {{#site-navigation showRegionListAction="regionList"}}
  {{/site-navigation}}
</div>

{{!-- Region list --}}
<div class="flex-60">

    {{!-- Info Themen/Exkursionen --}}
    <div class="layout-row">
      <div class="flex-50">
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}{{excursion.length}} Exkursionen{{/text.headline}}
            {{/title.text}}
          {{/card.title}}
          {{#card.content}}
            <a href="#" {{action "openCreateExcursionDialog"}}>Exkursion erstellen</a>
            {{#if excursion.length }}
              {{#link-to "excursion-list" region.id}}Exkursionen auflisten{{/link-to}}
            {{/if}}
          {{/card.content}}
        {{/paper-card}}
      </div>

      {{#if createExcursion}}
        {{#create-excursion bandnummer=region.bandnummer closeCreateExcursionDialogAction="closeCreateExcursionDialog" createExcursionConfirmedAction="createExcursionConfirmed"}}
        {{/create-excursion}}
      {{/if}}

        <div class="flex-50">
          {{#paper-card as |card|}}
            {{#card.title as |title|}}
              {{#title.text as |text|}}
                {{#text.headline}}{{topic.length}} Themen{{/text.headline}}
              {{/title.text}}
            {{/card.title}}
            {{#card.content}}
                <a href="#" {{action "openCreateTopicDialog"}}>Thema erstellen</a>
              {{#if topic.length }}
                {{#link-to "topic-list" region.id}}Themen auflisten{{/link-to}}
              {{/if}}

            {{/card.content}}
          {{/paper-card}}
        </div>

      {{#if createTopic}}
        {{#create-topic bandnummer=region.bandnummer closeCreateTopicDialogAction="closeCreateTopicDialog" createTopicConfirmedAction="createTopicConfirmed"}}
        {{/create-topic}}
      {{/if}}

    </div>

    {{!-- Frontmatter Region --}}
    {{#paper-card class="meta-editor" as |card|}}

      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.subhead}}Metadaten{{/text.subhead}}
          {{#text.headline}}Band {{region.bandnummer}} {{region.title}}{{/text.headline}}
        {{/title.text}}


        {{#title.media size="lg"}}
        {{#paper-menu as |menu|}}
          {{#menu.trigger}}
            <p class="meta-editor-button">Neues Cover auswählen</p>
          {{/menu.trigger}}

          {{#menu.content width=5 as |content|}}
            {{#paper-list}}
            {{#each region.images as |image|}}
              {{#paper-item onClick=null as |controls|}}
                <img class="preview-img" src="{{image.src}}" alt="">
                <div class="md-list-item-text asset-viewer-list-item">
                  <h4>{{image.filename}}</h4>
                </div>
                {{#controls.button secondary=true iconButton=true onClick=(action "updateCover" image)}}
                  {{paper-icon "image"}}
                {{/controls.button}}
              {{/paper-item}}
            {{/each}}
            {{/paper-list}}
          {{/menu.content}}
        {{/paper-menu}}
         <img src="http://localhost:1313/{{region.staticUrl}}/{{region.cover}}"
            alt="Kein Cover ausgewählt"
            title="{{region.title}} Cover">
        {{/title.media}}


      {{/card.title}}

      {{#card.content class="meta-editor-content"}}

        {{!-- Titel / Bandnummer --}}
        {{paper-input block=true label="Titel" value=region.title onChange=(action (mut region.title))}}

        {{!-- Untertitel --}}
        {{paper-input block=true label="Untertitel" value=region.subtitle onChange=(action (mut region.subtitle))}}


        {{!-- Reihentitel / Erscheinungsjahr --}}
        <div class="layout-row">
        <span class="flex-70">
          {{paper-input block=true label="Reihentitel" value=region.editionTitle onChange=(action (mut region.editionTitle))}}
        </span>
        <span class="flex-30">
          {{paper-input label="Erscheinungsjahr" value=region.dateOfPublication onChange=(action (mut region.dateOfPublication))}}
        </span>
        </div>

        {{!-- Herausgeber / ISBN --}}
        <div class="layout-row">
        <span class="flex-70">
          {{paper-input block=true label="Herausgeber" value=region.editor onChange=(action (mut region.editor))}}
        </span>
        <span class="flex-30">
          {{paper-input flex=30 label="ISBN" value=region.isbn onChange=(action (mut region.isbn))}}
        </span>
        </div>

        {{!-- Herausgeberinstitut --}}
        {{paper-input block=true label="Herausgeberinstitut" value=region.editorInstitut onChange=(action (mut region.editorInstitut))}}

        {{!-- Verlag / Ort / Seitenzahl --}}
        <div class="layout-row">
        <span class="flex-50">
          {{paper-input block=true label="Ort" value=region.location onChange=(action (mut region.location))}}
        </span>
        <span class="flex-25">
          {{paper-input block=true label="Verlag" value=region.publisher onChange=(action (mut region.publisher))}}
        </span>
        <span class="flex-25">
          {{paper-input block=true label="Seitenzahl" value=region.pagination onChange=(action (mut region.pagination))}}
        </span>
        </div>



        {{!-- Kurzbeschreibung --}}
        <div layout="row" layout-sm="column">
          {{paper-input passThru=(hash rows=15) textarea=true block=true flex=100 label="Kurzbeschreibung" value=region.description onChange=(action (mut region.description))}}
        </div>

        {{!-- Umfang --}}
         <h4>Umfang</h4>
          {{paper-chips content=region.extent
            removeItem=(action "removeExtent")
            addItem=(action "addExtent")
            placeholder="Füge ein Element hinzu"}}

        {{!-- Bundesland --}}
        <div layout="" layout-sm="column">
        <h4>Bundesland</h4>
          {{paper-chips content=region.bundesland
            removeItem=(action "removeItem")
            addItem=(action "addItem")
            options=bundeslaender
            placeholder="Füge ein Bundesland hinzu"
            noMatchesMessage="Dieses Bundesland existiert nicht"}}

        </div>


      {{/card.content}}
    {{/paper-card}}


    {{!-- Content  --}}
    {{#content-editor model=region region=true assetUrl=region.assetUrl updateAction="refreshRoute"}}
    {{/content-editor}}

</div>

{{#editor-dock model=region.id updateRegion=true deleteRegion=true deleteRegionAction="openDeleteDialog" updateRegionAction="updateRegion"}}
{{/editor-dock}}

{{#if updateDialog}}
  {{#update-dialog message="Die Änderung wurde gespeichert."}}
  {{/update-dialog}}
{{/if}}

{{#if deleteDialog}}
  {{#delete-region-dialog message="Die Region wird gelöscht." closeDeleteDialogAction="closeDeleteDialog" deleteRegionConfirmedAction="deleteRegion"}}
  {{/delete-region-dialog}}
{{/if}}

