{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.subhead}}Frontmatter{{/text.subhead}}
      {{#text.headline}}{{model.title}}{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}

    <div layout="row" layout-sm="column">
		  {{paper-input flex=70 label="Titel" value=model.title onChange=""}}
		  {{paper-input flex=30 label="Bandnummer" value=model.id onChange=""}}
	  </div>

    <div layout="row" layout-sm="column">
      {{paper-input flex=100 label="Untertitel" value=model.subtitle onChange=""}}
    </div>

    <div layout="row" layout-sm="column">
      {{paper-input flex=70 label="Reihentitel" value=model.editionTitle onChange=""}}
      {{paper-input flex=30 label="Erscheinungsjahr" value=model.dateOfPublication onChange=""}}
    </div>

    <div layout="row" layout-sm="column">
      {{paper-input flex=70 label="Herausgeber" value=model.editor onChange=""}}
      {{paper-input flex=30 label="ISBN" value=model.isbn onChange=""}}
    </div>

    <div layout="row" layout-sm="column">
      {{paper-input flex=100 label="Herausgeberinstitut" value=model.editorInstitut onChange=""}}
    </div>


    <div layout="row" layout-sm="column">
      {{paper-input flex=30 label="Verlag" value=model.publisher onChange=""}}
      {{paper-input flex=30 label="Ort" value=model.location onChange=""}}
      {{paper-input flex=30 label="Seitenzahl" value=model.pagination onChange=""}}      
    </div>

    <div layout="row" layout-sm="column">      
      {{paper-input flex=60 label="Umfang" value=model.extent onChange=""}}      
    </div>

    {{#each model.bundesland as |bundesland|}}
      {{paper-checkbox label=bundesland value=model.bundesland onChange=""}}
    {{/each}}
    
  {{/card.content}}
{{/paper-card}}

{{#paper-card as |card|}}
  {{#card.content}}

    <div layout="" layout-sm="column">
      {{paper-input textarea=true block=true flex=100 label="Kurzbeschreibung" value=model.description onChange=""}}
    </div>

  {{/card.content}}
{{/paper-card}}

<div layout="row">
  <div class="flex-50">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}23 Exkursionen{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        {{#link-to "excursion-list"}}Exkursionen auflisten{{/link-to}}
        {{#link-to "excursion.new"}}Exkursion erstellen{{/link-to}}
      {{/card.content}}
    {{/paper-card}}
  </div>

  <div class="flex-50">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}<mark>Anzahl</mark> Themen{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        {{#link-to "topic-list"}}Themen auflisten{{/link-to}}
        {{#link-to "topic.new"}}Thema erstellen{{/link-to}}
      {{/card.content}}
    {{/paper-card}}
  </div>
</div>