{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.subhead}}Frontmatter{{/text.subhead}}
      {{#text.headline}}{{model.region.title}}{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}

    <div layout="row" layout-sm="column">
		  {{paper-input flex=70 label="Titel" value=model.region.title onChange=""}}
		  {{paper-input flex=30 label="Bandnummer" value=model.region.id onChange=""}}
	  </div>

    <div layout="row" layout-sm="column">
      {{paper-input flex=100 label="Untertitel" value=model.region.subtitle onChange=""}}
    </div>

    <div layout="row" layout-sm="column">
      {{paper-input flex=70 label="Reihentitel" value=model.region.editionTitle onChange=""}}
      {{paper-input flex=30 label="Erscheinungsjahr" value=model.region.dateOfPublication onChange=""}}
    </div>

    <div layout="row" layout-sm="column">
      {{paper-input flex=70 label="Herausgeber" value=model.region.editor onChange=""}}
      {{paper-input flex=30 label="ISBN" value=model.region.isbn onChange=""}}
    </div>

    <div layout="row" layout-sm="column">
      {{paper-input flex=100 label="Herausgeberinstitut" value=model.region.editorInstitut onChange=""}}
    </div>


    <div layout="row" layout-sm="column">
      {{paper-input flex=30 label="Verlag" value=model.region.publisher onChange=""}}
      {{paper-input flex=30 label="Ort" value=model.region.location onChange=""}}
      {{paper-input flex=30 label="Seitenzahl" value=model.region.pagination onChange=""}}
    </div>

    <div layout="row" layout-sm="column">
      {{paper-input flex=60 label="Umfang" value=model.region.extent onChange=""}}
    </div>

    {{#each model.region.bundesland as |bundesland|}}
      {{paper-checkbox label=bundesland value=model.region.bundesland onChange=""}}
    {{/each}}

  {{/card.content}}
{{/paper-card}}

{{#paper-card as |card|}}
  {{#card.content}}

    <div layout="" layout-sm="column">
      {{paper-input textarea=true block=true flex=100 label="Kurzbeschreibung" value=model.region.description onChange=""}}
    </div>

  {{/card.content}}
{{/paper-card}}

<div layout="row">
  <div class="flex-50">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{model.excursion.length}} Exkursionen{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        {{#link-to "excursion-list" model.region.id}}Exkursionen auflisten{{/link-to}}
        {{#link-to "excursion.new" model.region.id}}Exkursion erstellen{{/link-to}}
      {{/card.content}}
    {{/paper-card}}
  </div>

  <div class="flex-50">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{model.topic.length}} Themen{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        {{#link-to "topic-list" model.id}}Themen auflisten{{/link-to}}
        {{#link-to "topic.new" model.id}}Thema erstellen{{/link-to}}
      {{/card.content}}
    {{/paper-card}}
  </div>
</div>