{{!-- placeholder  --}}
<div class="flex-20">
  {{#site-navigation showRegionListAction="regionList" relatedRegion="true" relatedRegionAction="relatedRegion" contentList="true" contentListAction="topicList"}}
  {{/site-navigation}}
</div>

{{!-- Topic edit --}}
<div class="flex-60">

    {{#paper-card class="meta-editor" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.subhead}}{{model.id}}{{/text.subhead}}
          {{#text.headline}}Metadaten{{/text.headline}}
        {{/title.text}}
      {{/card.title}}

      {{#card.content}}

        {{!-- Titel --}}
        <div class="layout layout-sm-column">
          {{paper-input flex=100 label="Titel" value=model.title onChange=(action (mut model.title))}}
        </div>

        {{!-- AutorIn --}}
        <div layout="row" layout-sm="column">
          {{paper-input flex=60 label="AutorIn" value=model.autor onChange=(action (mut model.autor))}}
        </div>

        {{!-- VG Wort Code --}}
        <div layout="" layout-sm="column">
          {{paper-input flex=70 label="VG Wort Code" value=model.vgWortCode onChange=(action (mut model.vgWortCode))}}
        </div>

        {{!-- Kurzbeschreibung --}}
        <div layout="row" layout-sm="column">
          {{paper-input textarea=true block=true passThru=(hash rows=4) flex=100 label="Kurzbeschreibung" value=model.description onChange=(action (mut model.description))}}
        </div>

        {{!-- Literaturangaben --}}
        <div layout="" layout-sm="column">
        <h4>Literaturangaben
        <span class="meta-editor-button" onclick={{action "showReference" model.literaturangaben}}>alle anzeigen</span>
        </h4>
          {{paper-chips content=model.literaturangaben
            removeItem=(action "removeReference")
            addItem=(action "addReference")            
            placeholder="Neue Quelle"}}
        </div>


        {{!-- Bildnachweise --}}
        <div layout="" layout-sm="column">
        <h4>Bildnachweise</h4>
          {{paper-chips content=model.bildnachweise
            removeItem=(action "removeImgRef")
            addItem=(action "addImgRef")
            placeholder="Neuer Bildnachweis"}}
        </div>
        
        {{!-- Rubriken --}}
        <div layout="" layout-sm="column">
        <h4>Rubriken</h4>
          {{paper-chips content=model.rubriken
            removeItem=(action "removeCategory")
            addItem=(action "addCategory")
            options=rubriken
            placeholder="Füge eine Rubrik hinzu"
            noMatchesMessage="Rubrik existiert nicht"}}
        </div>

        {{!-- Video --}}
        <div layout="" layout-sm="column">
          {{paper-input flex=70 label="Video" value=model.video onChange=(action (mut model.video))}}
        </div>

      {{/card.content}}
    {{/paper-card}}

    {{#content-editor model=model topic=true assetUrl=model.assetUrl updateAction="refreshRoute"}}
    {{/content-editor}}

</div>

{{#editor-dock model=model updateTopic=true deleteTopic=true deleteTopicAction="openDeleteDialog" updateTopicAction="updateTopic"}}
{{/editor-dock}}

{{#if updateDialog}}
  {{#update-dialog message="Die Änderung wurde gespeichert."}}
  {{/update-dialog}}
{{/if}}

{{#if deleteDialog}}
  {{#delete-topic-dialog message="Das Thema wird gelöscht." closeDeleteDialogAction="closeDeleteDialog" deleteTopicConfirmedAction="deleteTopic"}}
  {{/delete-topic-dialog}}
{{/if}}

