<div class="layout-row layout-align-end">  
  {{#paper-button raised=true onClick=(action "showConfig")}}Webseitenkonfiguration{{/paper-button}}  
  {{#paper-button warn=true raised=true onClick=(action "openPromptDialog")}}Webseite aktualisieren{{/paper-button}}  
  {{#paper-button accent=true raised=true onClick=(action "openPromptDialog")}}Neuen Band erstellen{{/paper-button}}  
  
  {{!-- Band erstellen Dialog --}}
  {{#if showPromptDialog}}
    {{#paper-dialog fullscreen=fullscreen onClose=(action "closePromptDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}

      {{#paper-toolbar}}
        <div class="md-toolbar-tools">
          <h2>Neuer Band</h2>
          <span class="flex"></span>
          {{#paper-button iconButton=true onClick=(action "closePromptDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
        </div>
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        <h5>Metadaten</h5>
        <div layout="row">
          {{paper-input flex=100 value=region.id label="Bandnummer" required="true" required-errortext="Wichtig!" onChange=(action (mut region.id ))}}  
        </div>
        <div layout="row">
          {{paper-input flex=100 value=region.title label="Titel" onChange=(action (mut region.title))}}  
        </div>        
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button primary=true onClick=(action "closePromptDialog" "cancel")}}Abbrechen{{/paper-button}}
        {{#paper-button primary=true onClick=(action "saveRegion" )}}Band erstellen{{/paper-button}}
      {{/paper-dialog-actions}}

    {{/paper-dialog}}
  {{/if}}

</div>


{{!-- Bestehende Bände --}}
<div class="layout-row layout-wrap">
  
  <div class="flex-33"></div>  
  <div class="flex-66">

    {{#each (reverse model)  as |region|}}
      <h5 class="regionchunk">{{#link-to 'region.edit' region.fileName }}
             <strong>{{ region.id }}</strong> {{ region.name }}
            {{/link-to}}  </h5>
    {{/each}}

  </div>
</div>

